/* fonts */
@import url('fonts.css');

/* typography */
@import url('typography.css');


/* buttons */
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 6px;
    font-family: 'Gelion';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    outline-color: transparent;
}
.btn-primary{
    background: #052926;
    color: #FFF;
}
.btn-primary:hover{
    background: #052926;
    color: #C8E993;
}
.btn-primary:disabled{
    background: #DAE0E0;
    color: #FFF;
}
.btn-primary.loading:disabled{
    background: #052926;
}
.btn-secondary{
    background: transparent;
    border: 1px solid #052926;
    color: #052926;
}
.btn-secondary:hover{
    background: #EEFADC;
}
.btn-secondary:disabled{
    background: transparent;
    border-color: #EBF0F0;
    color: #A3ADAD;
}
.btn-secondary.loading:hover{
    background: #EEFADC;
}
.btn-tertiary{
    background: #FFF;
    color: #052926;
}
.btn-tertiary:disabled{
    color: #DAE0E0;
}


@media (min-width: 640px) {
    .btn{
        font-size: 16px;
        padding: 12px 24px;
    }
}